/* LoginRegistration.css */

.login-back {
    height: 100%;
    width: 100vh;
    font-family: Arial, sans-serif;  
    background-image: url('/src/Components/Assets/signupimage.jpg');
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
 body, html {
    height: 100%;
    width: 100vh;
    font-family: Arial, sans-serif;  
    background-color: aquamarine;
    /* background-image: url('/src/Components/Assets/signupimage.jpg'); */
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
  } 
  
  .wrapper {
      position: relative;
      width: 420px;
      height: 450px;
      background-color: transparent;
      border: 3px solid rgba(0, 0, 0, 0.28);
      backdrop-filter: blur(30px);
      border-radius: 2%;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: height 0.2s ease;
  }
  
  .wrapper.active {
      height: 700px;
  }
  
  .wrapper .form-box {
      width: 100%;
      padding: 40px;
  }
  
  .wrapper .form-box.login {
      transition: translate 0.18s ease;
      translate: 0;
  }
  
  .wrapper.active .form-box.login {
      transition: none;
      translate: -400px;
  }
  
  .wrapper .form-box.register {
      position: absolute;
      translate: 400px;
  }
  
  .wrapper.active .form-box.register {
      transition: translate 0.18s ease;
      translate: 0;
  }
  
  form h1 {
      margin-top: -15px;
      font-size: 36px;
      text-align: center;
  }
  
  form .input-box {
      position: relative;
      width: 100%;
      height: 69px;
      padding: 0px;
      margin: 10px 0px;
      border-radius: 70px;
      color: #fff;
  }
  
  .input-box input {
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 40px;
      font-size: 16px;
      color: #ffffff;
      padding: 20px 50px 20px 20px;
  }
  
  .input-box input::placeholder {
      color: white;
  }
  
  .input-box .icon {
      position: absolute;
      right: 20px;
      top: 35%;
      translate: 0 -50%;
      font-size: 16px;
  }
  
  form .remember-forgot {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      margin: 20px;
  }
  
  .remember-forgot label-input {
      accent-color: #fff;
      margin-right: 40px;
  }
  
  .remember-forgot a {
      color: #fff;
      text-decoration: none;
  }
  
  .remember-forgot a:hover {
      text-decoration: underline;
  }
  
  form button {
      width: 100%;
      height: 45px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 20px;
      box-shadow: 0 0 5px rgb(0, 90, 159);
      cursor: pointer;
      font-size: 16px;
      color: #333333;
      font-weight: 700;
      margin-top: 5%;
      margin-bottom: 5%;
  }
  
  .register-link p a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
  }
  
  .register-link p a:hover {
      text-decoration: underline;
  }
  