.avatar-selection-screen {
    text-align: center;
    background: radial-gradient(circle, #4a00e0, #8e2de2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .avatar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  
  .avatar-container {
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
  }
  
  .avatar-container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  
  .avatar-container.selected {
    border-color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  
  .next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .next-button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .next-button:not(:disabled):hover {
    background-color: #0056b3;
  }
  